html {
	margin: 0;
	padding: 0;
}

.container{
	margin: 0 auto;
	background-color: grey;
	font-family: arial;
	padding: 25px;
	font-size: 25px;
}

input{
	margin-top: 20px;
	margin-left: 20px;
	font-size: 20px;
	padding: 20px 40px 20px 40px;
}
